.main-container {
    margin: 200px auto 0;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.cart .order-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: flex-start; 
}

.cart .order-wrapper .product-list {
    max-width: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    padding-bottom: 10px;
}

.cart .order-wrapper .product-list .product {
    display: flex;
    position: relative;
    gap: 30px;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}

.cart .order-wrapper .product-list .product .photo {
    max-width: 130px;
    width: 100%;
    height: 140px;
    background: rgba(241, 242, 243, 1);
}

.cart .order-wrapper .product-list .product .product-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.cart .order-wrapper .product-list .product .product-info .title {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}

.cart .order-wrapper .product-list .product .product-info .price-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity {
    display: flex;
    align-items: center;
    gap: 15px; 
    justify-content: space-between;
    max-width: 280px;
    width: 100%;
}


.cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity .quantity {
    background: rgba(248, 248, 251, 1);
    display: flex;
    gap: 20px;
    padding: 16px 23px;
}

.cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity .quantity .count-button {
    cursor: pointer;
    color: rgba(153, 153, 153, 1);
    font-size: 25px;
    font-weight: 500;
    line-height: 16px;
}

.cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity .quantity .count {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
}

.cart .order-wrapper .product-list .product .product-info .price-wrapper .total-price {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
}

.cart .order-wrapper .product-list .product .product-info .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 9px 7px 9px;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    text-align: center;
    color: rgba(68, 68, 68, 0.1);
    border: 1px solid rgba(68, 68, 68, 0.1);
    cursor: pointer;
}

.cart .order-wrapper .order {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 360px;
    width: 100%;
    padding: 40px;
    border: 1px solid rgba(68, 68, 68, 0.1)
}

.cart .order-wrapper .order .title {
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    color: rgba(0, 0, 0, 1);
}

.cart .order-wrapper .order .order-price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart .order-wrapper .order .order-price-wrapper .price-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}

.cart .order-wrapper .order .order-price-wrapper .price-row.delimiter {
    border-bottom: 2px solid rgba(0, 0, 0, 1)
}

.cart .order-wrapper .order .order-price-wrapper .price-row.total {
    border: none;
}

.cart .order-wrapper .order .order-price-wrapper .price-row .name {
    color: rgba(68, 68, 68, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;   
}

.cart .order-wrapper .order .order-price-wrapper .price-row .name .additional {
    font-size: 14px;
    line-height: 24px;
}

.cart .order-wrapper .order .order-price-wrapper .price-row .price {
    color: rgba(68, 68, 68, 1);
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.cart .order-wrapper .order .order-price-wrapper .price-row .no-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: right;
    color: rgba(68, 68, 68, 1);
}

.cart .order-wrapper .order .button-wrapper {
    max-width: unset;
}

.cart .order-wrapper .order .button-wrapper .button {
    width: 100%;
    text-align: center;
}

.cart .promo-code-wrapper {
    max-width: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 250px;
}

.cart .promo-code-wrapper .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart .promo-code-wrapper .info .title {
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    text-align: right;
    color: rgba(0, 0, 0, 1);
}

.cart .promo-code-wrapper .info .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(68, 68, 68, 1);
} 

.cart .promo-code-wrapper .promo-code {
    display: flex;
    gap: 30px;
    align-items: center;
}

.cart .promo-code-wrapper .promo-code .button-wrapper {
    max-width: 54px;
}

.cart .promo-code-wrapper .promo-code .button-wrapper .button {
    max-width: 50px;
    padding: 17px;
}