* {
    font-family: Raleway;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.container .input {
    border: none;
    border-bottom: 1px solid rgba(68, 68, 68, 20%);
    width: 100%;
    color: rgba(68, 68, 68, 50%);
    outline: none;
    padding: 0 0 15px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.container .input.input-1 {
    font-family: Josefin Sans; 
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;

}

.container .input.input-1::-webkit-inner-spin-button,
.container .input.input-1::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}


.container .button-wrapper {
    display: flex;
    gap: 2px;
    align-items: center;
    max-width: 240px; 
    width: 100%;
    cursor: pointer;
}

.container .button-wrapper .button {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    border: none;
    background: rgba(0, 0, 0, 1);
    padding: 17px 74px; 
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.container .button-wrapper .button:disabled {
    opacity: 0.5;
}

.container .button-wrapper .button:disabled ~ .vertical-line {
    opacity: 0.5;
}

.container .button-wrapper .vertical-line {
    width: 2px;
    height: 50px; 
    background: rgba(0, 0, 0, 1);
}

.container .price {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container .price .current-price {
    font-family: Josefin Sans;   
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.container .price .old-price {
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: rgba(68, 68, 68, 1);
    text-decoration: line-through;
}

.container .custom-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container .custom-list .item {
    color: rgba(68, 68, 68, 1);
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.container .custom-list .item::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-image: url('../icons/square.svg')
}

.container .custom-list .item.active {
    color: rgba(255, 142, 142, 1);
}

.container .custom-list .item.active::before {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-image: url('../icons/category-row.svg');
}

.container .find-us .find-us-text {
    margin: 0 0 25px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
}

.container .find-us .find-us-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container .find-us .find-us-links .find-us-link a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: rgba(68, 68, 68, 1);
}

.container .find-us .find-us-links .line {   
    border-bottom: 1px solid #444444;
    width: 10px;
    height: 1px;
}

.buy-btn {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    border: none;
    background: rgba(68, 68, 68, 1);
    padding: 8px 25px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.buy-btn:hover {
    background:  rgba(255, 142, 142, 1);
    transition: 0.4s;
}