.header-container {
    max-width: 1800px;
    width: 100%; 
    margin: 50px auto 0;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.header .left-side {
    display: flex;
    gap: 65px;
    align-items: center;
}

.header .left-side .logo-container {
    display: flex;
    gap: 40px; 
    align-items: center;
}

.header .left-side .logo-container .logo {
    display: flex;
}

.header .left-side .logo-container .burger-menu {
    display: none;
}

.header .left-side .logo-container .burger-menu .menu-burger {
    display: none;
}

.header .left-side .logo-container .burger-menu .burger {
    position: relative;
    width: 22px;
    height: 15px;
    cursor: pointer;
    z-index: 1;
    display: block;
}

.header .left-side .logo-container .burger-menu .burger-checkbox {
    display: none;
}

.header .left-side .logo-container .burger-menu .burger > span,
.header .left-side .logo-container .burger-menu .burger > span::before,
.header .left-side .logo-container .burger-menu .burger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 1);
    transition-duration: 250ms;
}

.header .left-side .logo-container .burger-menu .burger > span::before {
    content: '';
    top: 7px;
}

.header .left-side .logo-container .burger-menu .burger > span::after {
    content: '';
    top: 14px;
}

.header .left-side .logo-container .burger-menu #burger-checkbox:checked ~ .burger > span {
    transform: rotate(45deg);
    top: 7px;
}

.header .left-side .logo-container .burger-menu #burger-checkbox:checked ~ .burger > span::before {
    transform: rotate(0deg);
    top: 0px;
}

.header .left-side .logo-container .burger-menu #burger-checkbox:checked ~ .burger > span::after {
    transform: rotate(90deg);
    top: 0px;
}

.header .left-side .menu {
    display: flex;
    gap: 40px;
}

.header .left-side .menu .menu-item {
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.header .left-side .menu .menu-item.active,
.header .left-side .menu .menu-item:hover {
    color: #FF8E8E;
}

.header .left-side .menu .menu-item.active .arrow-default {
    display: none;
}

.header .left-side .menu .menu-item.active .arrow-hover {
    display: inline-block;
}

.header .left-side .menu .menu-item .arrow-hover {
    display: none;
}

.header .left-side .menu .menu-item:hover .arrow-hover {
    display: inline-block;
}

.header .left-side .menu .menu-item:hover .arrow-default {
    display: none;
}

.header .right-side {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header .right-side .header-icon {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header .right-side .header-icon .counter {
    background: #000000;
    color: #FFFFFF;
    padding: 1px 6px 4px 6px;
    border-radius: 50%;   
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}